.TableLoader {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--bg-j);
  justify-content: center;
  bottom: 30px;
}

.container {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotElastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--font-a);
  color: var(--font-a);
  animation: dotElastic 1s infinite linear;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  &::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--font-a);
    color: var(--font-a);
    animation: dotElastic-before 1s infinite linear;
  }

  &::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--font-a);
    color: var(--font-a);
    animation: dotElastic-after 1s infinite linear;
  }
}

@keyframes dotElastic-before {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0%,
  25%,
  75%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }
}

@keyframes dotElastic-after {
  0%,
  25%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1.5);
  }
}
