@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.label {
  color: var(--font-a);
  @include font13;
  font-weight: 500;
  margin-left: 4px;
}

.rangeContainer {
  margin-top: 15px;
  padding: 0px 5px;
  position: relative;
  width: 100%;
  cursor: pointer;

  input[type='range'] {
    background-image: none;
    cursor: pointer;
  }

  input {
    width: 100%;
    cursor: pointer;

    &:focus {
      border: 0px solid var(--bg-j);
    }
  }

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: center;
  bottom: calc(100% + 8px);
  transform: translateX(-18%);
  background-color: var(--bg-d);
  color: var(--font-b);
  padding: 5px 10px;
  border-radius: 5px;
  @include font11;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  cursor: pointer;
  border-color: var(--bg-d) transparent transparent transparent;
}

.pointsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0px 9px;
}

.point {
  width: 2px;
  height: 5px;
  background-color: var(--bg-d);

  &:hover {
    .tooltip2 {
      display: block;
    }
  }
}

.tooltip2 {
  position: absolute;
  display: none;
  text-align: center;
  bottom: calc(100% + 8px);
  transform: translateX(-18%);
  background-color: var(--bg-d);
  color: var(--font-b);
  padding: 5px 10px;
  border-radius: 5px;
  @include font11;
}

.errorMessage {
  color: var(--light-red);
  @include font13;
}
