@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.backdropDiv {
  position: fixed;
  inset: 0;
  background-color: var(--bg-j);
  z-index: 2;
}

.reset {
  border: 1px solid var(--stroke-b);
  background-color: var(--bg-j);
  margin-left: 10px;
  margin-right: 10px;
  &:disabled {
    background-color: var(--bg-j);
    opacity: 0.5;
  }
  span {
    color: var(--font-c) !important;
  }
}

.main {
  z-index: 300;
  background: var(--bg-a);

  border-left: 1px solid var(--stroke-a);
  height: 100vh;
  transition: all 1.6s;

  @media (max-width: 768px) {
    margin-left: -25px;
    margin-right: 15px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--stroke-a);
    padding: 20px;

    .headerText {
      color: var(--font-c);
      font-feature-settings:
        'clig' off,
        'liga' off;
      /* Heading 2 */

      @include font24;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    img {
      cursor: pointer;
    }
  }

  .body {
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    .statusBar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .dateDiv {
        width: 50%;
      }
    }

    .resetDiv {
      position: fixed;
      bottom: 20px;
      right: 20px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
    }
  }
}

.hover1 {
  position: relative;
  svg {
    height: 24px;
    width: 24px;
    path {
      fill: var(--stroke-d);
    }
  }

  &:hover {
    & > div {
      opacity: 1;
      transition-delay: 0.3s;
    }
  }

  .tooltip {
    transition: 0s;
    opacity: 0;
    position: absolute;
    background: var(--bg-a);
    border: 1px solid var(--stroke-a);
    box-shadow: 0px 0px 10px var(--bg-shadow);
    border-radius: 2px 2px 2px 0px;
    padding: 3px 9px;
    width: max-content;
    top: -4px;
    left: -62px;
    z-index: 200;

    p {
      font-weight: 400;
      @include font13;
      color: var(--font-a);
      text-transform: capitalize;
    }

    &::before {
      content: '';
      top: 2px;
      right: -14px;
      transform: rotate(90deg);

      z-index: 2010;

      clip-path: polygon(50% 61%, 0% 100%, 100% 100%);
      box-shadow: 0px 0px 10px var(--bg-shadow);
      background: var(--bg-a);
      height: 16px;
      width: 14px;

      position: absolute;
    }
  }
}

.bottom {
  padding: 20px 25px;

  .gridTwo {
    @include gridTwo(10, 10);
    margin-top: 10px;
  }

  .gridOne {
    @include gridOne();
  }
}

.applyClass {
  min-width: 80px;
}
.WeightageClass {
  margin-top: 10px;
}
