@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.wrap {
  height: 100vh;

  @media (max-width: 490px) {
    height: calc(100vh - 80px);
  }
}

.hiddenClass {
  @media (max-width: 550px) {
    display: none !important;
  }
}

.smallDisplay {
  display: none;

  @media (max-width: 550px) {
    display: block !important;
  }
}

.wrapNoHeader {
  height: 85vh;
  overflow: 'hidden';

  @media (max-width: 490px) {
    height: calc(100vh - 130px);
  }
}

.main {
  .startIcon {
    left: 13px;
  }

  .flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      width: 388px;
      position: fixed;
      right: 20px;
      z-index: 2;
      top: 18px;
    }

    .btn {
      border: 1px solid var(--stroke-b);
      background-color: var(--bg-j);
      max-width: 95px;

      span {
        color: var(--stroke-b);
      }
    }
  }

  .mainClass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 42px;
    margin-top: 10px !important;
    @media (max-width: 490px) {
      height: 16px;
    }

    h6 {
      font-weight: 700;
      @include font24;
      line-height: 28px;
      color: var(--font-c);
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width: 550px) {
        display: none;
      }

      .img {
        cursor: pointer;
        height: 46px;
        width: 57px;
        margin-top: 1px;
      }
    }
  }
}

.filterBtn {
  border: 1px solid var(--stroke-a);
  background-color: var(--bg-a);
  max-width: 100px;

  svg {
    path {
      fill: var(--stroke-d);
    }
  }

  span {
    color: var(--font-a) !important;
  }
}

.filterBtnActive {
  border: 1px solid var(--stroke-f);
  background-color: var(--bg-a);
  max-width: 110px;
  svg {
    path {
      fill: var(--stroke-f);
    }
  }
  span {
    color: var(--font-d) !important;
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 0px;
  padding-bottom: 50px;

  ::-webkit-scrollbar {
    width: 7px;
    /* Remove scrollbar space */
    background: var(--bg-b);
    /* Optional: just make scrollbar invisible */
    height: 7px;
    border-radius: 8px;
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: var(--bg-f);
    border-radius: 8px;
  }

  ::-webkit-scrollbar:vertical {
    width: 7px;
    /* Remove scrollbar space */
    background: var(--bg-b);
    /* Optional: just make scrollbar invisible */
    height: 7px;
    border-radius: 8px;
    display: none;
  }
  .tableWidth {
    max-width: 2556px;
    overflow-y: auto;
    position: relative !important;

    ::-webkit-scrollbar {
      width: 7px;
      /* Remove scrollbar space */
      background: var(--bg-b);
      /* Optional: just make scrollbar invisible */
      height: 7px;
      border-radius: 8px;
    }

    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
      background: var(--bg-f);
      border-radius: 8px;
    }

    ::-webkit-scrollbar:vertical {
      width: 7px;
      /* Remove scrollbar space */
      background: var(--bg-b);
      /* Optional: just make scrollbar invisible */
      height: 7px;
      border-radius: 8px;
      display: block !important;
    }
  }
}

.th {
  text-align: center !important;
  font-weight: 600;
  @include font13;
  letter-spacing: 0.17px;
  height: 35px;
  color: var(--font-c);
  background-color: var(--bg-a);

  &:first-child {
    text-align: left !important;
    padding-left: 0px;

    span {
      text-align: left !important;
      justify-content: flex-start !important;
    }
  }
}

.thead {
  top: 0px;
  position: sticky;
  background-color: var(--bg-a) !important;
  z-index: 4;

  @media (min-width: 769px) {
    tr {
      th {
        &:first-child {
          position: sticky !important;
          left: 0 !important;
          z-index: 4 !important;
          background-color: var(--bg-a) !important;
        }

        &:nth-child(2) {
          position: sticky !important;
          left: 35px !important;
          z-index: 4 !important;
          background-color: var(--bg-a) !important;
        }

        &:last-child {
          position: sticky !important;
          right: 0px !important;
          z-index: 4 !important;
          background-color: var(--bg-a) !important;
          padding-right: 12.5px !important;
        }
      }
    }
  }
}

.tableRow {
  box-shadow: var(--bg-j);
  border-radius: 7px;

  &:hover {
    svg {
      path {
        stroke: var(--sidebar);
      }
    }
    td {
      &:first-child {
        background-color: var(--bg-b) !important;
      }

      &:nth-child(2) {
        background-color: var(--bg-b) !important;
      }

      &:last-child {
        background-color: var(--bg-b) !important;
      }
    }
  }

  td {
    font-weight: 400;
    @include font13;
    color: var(--font-a);
    height: 36px !important;

    // padding: 0px !important;
    @media (min-width: 769px) {
      &:first-child {
        border-radius: 5px 0px 0px 5px;
        position: sticky !important;
        left: 0 !important;
        z-index: 3 !important;
        background-color: var(--bg-a) !important;
      }

      &:nth-child(2) {
        position: sticky !important;
        left: 35px !important;
        z-index: 3 !important;
        background-color: var(--bg-a) !important;
        box-shadow: 2px 0 5px var(--bg-shadow);
      }

      &:last-child {
        position: sticky !important;
        right: 0 !important;
        z-index: 3 !important;
        background-color: var(--bg-a) !important;
        box-shadow: -2px 0 5px var(--bg-shadow);
      }
    }
  }
}

.checkboxContainer1 {
  display: inline !important;
  top: -2px !important;
  left: 5px;
}

.checkDiv {
  background-color: var(--bg-b);
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgDiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  svg {
    height: 18px;
    width: 18px;
  }

  .img {
    position: relative;

    &:hover {
      & > div {
        opacity: 1;
        transition-delay: 0.3s;
      }
    }

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}

.tooltip {
  transition: 0s;
  opacity: 0;
  position: absolute;
  background: var(--bg-a);
  border: 1px solid var(--stroke-a);
  box-shadow: 0px 0px 10px var(--bg-shadow);
  border-radius: 2px 2px 2px 0px;
  padding: 3px 9px;
  width: max-content;
  bottom: 28px;
  right: -15px;
  z-index: 200;

  p {
    font-weight: 400;
    @include font13;
    color: var(--font-a);
    text-transform: capitalize;
  }

  &::before {
    content: '';
    bottom: -15px;
    right: 15px;
    transform: rotate(180deg);

    z-index: 2010;

    clip-path: polygon(50% 61%, 0% 100%, 100% 100%);
    box-shadow: 0px 0px 10px var(--bg-shadow);
    background: var(--bg-a);
    height: 16px;
    width: 14px;

    position: absolute;
  }
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
}

.navbarDiv {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: var(--bg-a);
  padding: 20px 20px 0px 0px;

  h6 {
    font-weight: 700;
    @include font28;
    line-height: 22px;
    color: var(--font-c);
  }

  p {
    font-weight: 400;
    @include font15;
    line-height: 18px;
    color: var(--font-e);
    margin-top: 12px;
  }
}

.flexDiv {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 102px);
  padding-right: 10px;
  margin-left: 95px;
}

.modal {
  background: var(--bg-modal) !important;
}

.addTask {
  cursor: pointer;
  width: 36px;
  height: 30px;
  flex-shrink: 0;
  border: 1px solid var(--stroke-d);
  border-radius: 3px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  svg {
    path {
      stroke: var(--stroke-d);
    }
  }

  span {
    color: var(--font-a);
    /* Heading 4 */

    @include font13;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.change {
  position: relative;
  cursor: pointer;
  padding: 7px;
  border: 1px solid var(--stroke-d);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    path {
      fill: var(--stroke-d);
    }
  }

  p {
    @include font13;
    color: var(--font-a);
    font-weight: 600 !important;
  }

  &:hover {
    & > div {
      opacity: 1;
      transition-delay: 0.3s;
    }
  }
}

.headerDiv {
  @media (max-width: 550px) {
    display: none;
  }
}

.headerDivMobile {
  display: none;

  @media (max-width: 550px) {
    display: block;
  }
}

.menuIcon {
  display: none;

  @media (max-width: 550px) {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}

.secondMenu {
  @media (max-width: 550px) {
    display: none;
  }

  display: flex;
  align-items: center;
  gap: 5px;
}

.secondMenuMobile {
  @media (max-width: 550px) {
    display: block;
    padding-bottom: 35px;
  }

  display: none;
  align-items: center;
  gap: 5px;

  .change {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;

    p {
      @include font13;
    }

    svg {
      width: 13.259px;
      height: 11px;
    }
  }
}

.filterCountDot {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: var(--bg-b);
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-b);
  border-radius: 50%;
  padding: 7px;
  @include font9;
}

.exportDiv {
  display: flex;
  gap: 10px;
  width: 50%;
  justify-content: flex-start;

  input {
    padding-left: 35px;
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.optionsDivMobile {
  display: none;

  @media (max-width: 550px) {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-top: 10px;
  }

  span {
    color: var(--light-red);

    @include font11;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.imgDel {
  height: 15px;
  width: 15px;
  margin-bottom: 3px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.editColor {
  svg {
    stroke: var(--stroke-d) !important;
  }
}

.deleteIcon {
  svg {
    width: 16px;
    height: 16px;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: var(--bg-j);
}

.chipsDiv {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  gap: 10px;

  @media (max-width: 550px) {
    justify-content: flex-start;
  }
}

.moreMenu {
  position: relative;
  svg {
    path {
      fill: var(--stroke-d);
    }
  }
}

.modalDiv {
  z-index: 5;
  top: 32px;
  right: 10px;
  position: absolute;
  background-color: var(--bg-a);
  border: 1px solid var(--stroke-a);
  border-radius: 5px;
  width: max-content;

  p {
    @media (max-width: 550px) {
      @include font13;
    }
  }

  .flexImport {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      color: var(--font-a);
      @include font15;
    }
    svg {
      height: 16px;
      width: 16px;

      @media (max-width: 550px) {
        height: 12px;
        width: 12px;
      }
    }
  }
}

.changeMain {
  cursor: pointer;
  border: 1px solid var(--stroke-d);
  border-radius: 3px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 30px;
  gap: 0px;
  svg {
    height: 24px !important;
    width: 24px !important;
    path {
      stroke: var(--stroke-d);
    }
  }
}

.addition_style_change {
  cursor: pointer !important;
  height: 30px !important;
  width: 36px !important;
  border: 1px solid var(--stroke-d) !important;
  border-radius: 3px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.split_pane_container {
  display: none !important;
}
.image_no_data_general_style {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_no_data_no_header_heigh {
  height: calc(100vh - 344px);
}

.image_no_data_with_header_heigh {
  height: calc(100vh - 275px);
}
.display_none {
  display: none !important;
}
.no_data_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change_impose_style {
  cursor: pointer !important;
  height: 30px;
  width: 36px;
  border: 1px solid var(--stroke-d);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change_impose_style_primary {
  cursor: pointer !important;
  padding: 7px;
  border: 1px solid var(--stroke-d);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bulk_edit_text {
  font-weight: 600 !important;
}
.position_relative {
  position: relative !important;
}

.loaderClass {
  position: relative !important;
}

.actionIcon {
  min-width: 50px;
}

.pointerClass {
  cursor: pointer;
}

.assignedIdCLass {
  text-decoration: underline;
  color: var(--bg-g);
}

.iconColor {
  svg {
    path {
      stroke: var(--stroke-d);
    }
  }
}

.clickable {
  &:hover {
    border-bottom: 1px solid var(--stroke-b);
  }
}
