@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.comments::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.comments::-webkit-scrollbar:vertical {
  width: 7px;
  background: var(--bg-j);
  height: 7px;
  border-radius: 8px;
  display: initial !important;
}
.attachIcon {
  svg {
    height: 24px;
    width: 24px;
  }

  margin-bottom: 5px;
}

.mainComments {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
  justify-content: space-between;
  max-height: calc(100vh - 520px);

  .comments {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 10px 0px;
  }

  .inputField {
    position: fixed;
    bottom: 20px;
    width: 480px;
    background-color: var(--bg-c);

    svg {
      margin-right: -30px;
    }
  }
}
