@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.wrapper {
  display: flex;
  gap: 20px;

  @media (max-width: $sm) {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 70%;

    @media (max-width: $sm) {
      width: 100%;
    }

    .welcomeDiv {
      @media (max-width: 490px) {
        display: none;
      }

      position: relative;
      display: flex;
      width: 100%;
      height: 189px;
      align-items: center;
      gap: var(--numbers-modal-corner, 10px);
      flex-shrink: 0;
      border-radius: var(--numbers-modal-corner, 10px);
      background: var(--bg-c);
      border: 1px solid var(--border);

      .dashboardText {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          color: var(--stroke-b);
          font-feature-settings:
            'clig' off,
            'liga' off;

          @include font11;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        span {
          color: var(--stroke-b);
          font-feature-settings:
            'clig' off,
            'liga' off;

          @include font24;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 2px;
        }
      }

      .welcomeIcon {
        padding-right: 22px;
        padding-top: 12px;
        right: 0;
        top: 0;
        position: absolute;

        @media (max-width: 490px) {
          display: none;
        }
      }
    }

    .bugsSection {
      @media (max-width: $sm) {
        width: 100%;
      }

      margin-top: 10px;
      width: 65%;
      display: inline-flex;
      padding: var(--numbers-modal-corner, 10px);
      flex-direction: column;
      align-items: flex-start;
      gap: var(--numbers-modal-corner, 10px);
      border-radius: var(--numbers-modal-corner, 10px);
      border: 1px solid var(--border);
      background: var(--bg-c);

      .bugHeader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          cursor: pointer;
        }

        span {
          color: var(--stroke-b);
          font-feature-settings:
            'clig' off,
            'liga' off;

          @include font15;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .lowerSection {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;

        @media (max-width: 490px) {
          flex-direction: column;
        }

        .innerBug {
          width: 25%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-right: 1px solid var(--stroke-a);

          @media (max-width: 490px) {
            border-right: none;
            flex-direction: row;
            border-bottom: 1px solid var(--stroke-a);
            width: 100%;
            align-items: center;
          }

          .count {
            color: var(--stroke-b);
            font-feature-settings:
              'clig' off,
              'liga' off;
            /* Heading 1 */

            @include font28;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .avg {
            color: var(--stroke-b);
            font-feature-settings:
              'cv11' on,
              'cv01' on,
              'ss01' on;
            /* Small Font */

            @include font11;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .status {
            margin-top: 5px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--stroke-b);
            /* Heading 4 */

            @include font13;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }

    .reportSection {
      margin-top: 10px;
      width: 100%;
      height: 325px;
      display: flex;

      @media (max-width: $sm) {
        flex-direction: column;
        height: fit-content;
      }

      align-items: start;
      gap: 5px;

      .quickDiv {
        border-radius: var(--numbers-modal-corner, 10px);
        border: 1px solid var(--border);
        background: var(--bg-c);
        padding: 10px;
        width: 35%;

        @media (max-width: $sm) {
          width: 100%;
        }

        height: 99%;

        .quickHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            color: var(--stroke-b);
            font-feature-settings:
              'clig' off,
              'liga' off;

            @include font24;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          p {
            color: var(--stroke-b);
            /* Heading 4 */

            @include font13;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        .quickInner {
          height: 94%;
          overflow-x: scroll;
          padding-top: 15px;

          &::-webkit-scrollbar {
            width: 0px !important;
            /* Remove scrollbar space */
            background: var(--bg-b);
            /* Optional: just make scrollbar invisible */
            height: 0px !important;
            border-radius: 8px;
          }

          .link {
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--stroke-b);

            @include font13;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 8px;

            .removeIcon {
              display: none;
              cursor: pointer;
            }

            &:hover {
              border-radius: 4px;
              background: var(--Shadow-B, rgba(17, 16, 61, 0.1));

              .removeIcon {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .right {
    width: 30%;

    @media (max-width: $sm) {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;

    .upcomingDiv {
      display: flex;
      width: 100%;
      height: 385px;
      padding: var(--numbers-modal-corner, 10px);
      flex-direction: column;
      align-items: flex-start;
      gap: var(--numbers-modal-corner, 10px);
      flex-shrink: 0;
      border-radius: var(--numbers-modal-corner, 10px);
      border: 1px solid var(--border);
      background: var(--bg-c);

      .upcomingHeader {
        img {
          cursor: pointer;
        }

        span {
          color: var(--stroke-b);
          font-feature-settings:
            'clig' off,
            'liga' off;

          @include font24;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .upcomingInner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          width: 0px !important;
          /* Remove scrollbar space */
          background: var(--bg-b);
          /* Optional: just make scrollbar invisible */
          height: 0px !important;
          border-radius: 8px;
        }
      }

      .activitiesInner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          width: 0px !important;
          /* Remove scrollbar space */
          background: var(--bg-b);
          /* Optional: just make scrollbar invisible */
          height: 0px !important;
          border-radius: 8px;
        }

        .activities {
          position: relative;
          align-items: center;
          display: flex;
          gap: 10px;

          .greyLine {
            position: absolute;
            border-left: 1px solid var(--stroke-a);
            height: 15px;
            bottom: -15px;
            left: 14px;
          }

          .line {
            color: var(--stroke-b);
            /* Body Font */

            @include font13;
            font-style: normal;
            font-weight: 400;
          }

          span {
            color: var(--stroke-b);
            font-feature-settings:
              'cv11' on,
              'cv01' on,
              'ss01' on;
            /* Small Font */

            @include font11;
            font-style: normal;
            font-weight: 400;
          }
        }
      }
    }
  }
}
