@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainDiv {
  max-width: 275px !important;

  .modalTitle {
    font-weight: 600;
    @include font18;
    color: var(--stroke-b);
    margin-bottom: 10px;
    text-align: center;
  }

  .modalSubtitle {
    color: var(--font-a);
    text-align: center;
    /* Body Font */

    @include font13;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .iconRefresh {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    img {
      width: 42px;
      height: 48px;
    }
  }

  .mainBtnDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;

    button {
      max-width: 100%;

      @media (max-width: $sm) {
        max-width: max-content;
      }
    }

    @media (max-width: $sm) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .btnClassUncheckModal {
    background-color: var(--bg-c);

    span {
      color: var(--stroke-b) !important;
    }
  }
}
