@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.inputContainer {
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;

  label {
    @include font18;
    font-style: normal;
    font-weight: 500;
    color: var(--bg-d);
    text-transform: capitalize;

    @media (max-width: $sm) {
      @include font15;
    }
  }

  input {
    border-radius: 5px;
    border: 1px solid var(--stroke-a);
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    color: var(--font-c);
    @include font18;
    text-align: center;

    &:focus {
      outline: 1px solid var(--stroke-b);
      border: 1px solid var(--stroke-b) !important;
    }
  }
}

.inputs {
  display: flex;
  gap: 10px;
}

.p {
  color: var(--font-a);
  @include font18;
  font-weight: 300;
  margin-top: 10px;
}

// input[type='number'] {
//   -moz-appearance: textfield !important; /* Firefox */
// }

// /* Hide the number increase/decrease buttons in WebKit browsers (Chrome, Safari) */
// input[type='number']::-webkit-outer-spin-button,
// input[type='number']::-webkit-inner-spin-button {
//   -webkit-appearance: none !important;
//   margin: 0 !important;
// }
