@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainHeader {
  .grid {
    @media (max-width: 490px) {
      width: 100%;
      flex-direction: column;
    }
    .gridInner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
    }
    display: flex;
    align-items: end;
    position: relative;
    justify-content: space-between;
    gap: 10px;

    .datePicker {
      max-width: 100%;
      width: 100%;

      @media (max-width: 490px) {
        width: 100%;
      }

      @media (max-width: $sm) {
        max-width: 100%;
        margin-right: 0px;
      }
    }

    .statusBar {
      min-width: 212px;
      width: max-content;

      @media (max-width: $sm) {
        max-width: 100%;
        margin-right: 0px;
      }

      @media (max-width: 490px) {
        width: 100%;
      }
    }

    .resetDiv {
      @media (max-width: 490px) {
        justify-content: end;
        width: 100%;
      }

      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      justify-content: flex-end;

      img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        padding: 0px !important;
      }

      button {
        max-width: 120px;

        @media (max-width: 490px) {
          max-width: 60px;
        }
      }

      .applyClass {
        width: 100px;
      }

      .reset {
        max-width: 56px !important;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid var(--stroke-b);
        background-color: var(--bg-j);

        span {
          color: var(--stroke-b);
        }
      }
    }
  }
}

.dynamicClass {
  min-height: 41px !important;
}

.zDynamicState1 {
  z-index: 400 !important;
}

.zDynamicState2 {
  z-index: 300 !important;
}

.zDynamicState3 {
  z-index: 200 !important;
}

.zDynamicState4 {
  z-index: 100 !important;
}

.zDynamicState5 {
  z-index: 50 !important;
}

.zDynamicState6 {
  z-index: 25 !important;
}

.allFilters {
  display: none;

  @media (max-width: 490px) {
    display: block;
    width: 100%;
  }
}

.openAllfilterBtn {
  display: block;
  padding: 5px;
  svg {
    path {
      fill: var(--stroke-d);
    }
  }

  @media (max-width: 490px) {
    display: none;
  }
}

.z1 {
  z-index: 100;
}
.z2 {
  z-index: 99;
}
.z3 {
  z-index: 98;
}
.z4 {
  z-index: 97;
}
.z5 {
  z-index: 96;
}
.z6 {
  z-index: 95;
}
