.button {
  cursor: pointer;
  padding: 3px;
  background: var(--bg-j);
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  position: relative;

  .tooltip {
    position: absolute;
    bottom: calc(100% + 10px); // Adjust space above the tooltip bubble
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-i);
    color: var(--font-b);
    padding: 6px 12px;
    border-radius: 6px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition:
      visibility 0.2s,
      opacity 0.2s,
      transform 0.2s;
  }

  // Show tooltip on hover
  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
  }
}
