@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.modalWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 9999;
  padding: 20px 20px;
  background: var(--bg-modal);

  .modalContentWrapper {
    position: relative;
    max-width: 280px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    border: 1px solid var(--stroke-a);
    background: var(--bg-a);
    box-shadow: 0px 0px 10px 0px var(--bg-shadow);

    padding: 20px;
    border-radius: 12.17px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    svg {
      height: 60px;

      width: 60px;
    }
    p {
      @include font15;
      font-weight: 600;
      line-height: 17.63px;
      color: var(--font-c);
      text-align: center;
    }
    span {
      @include font13;
      font-weight: 300;
      line-height: 15.28px;
      text-align: center;
      color: var(--font-a);
    }
    .btnClass {
      min-width: 150px !important;
      span {
        color: var(--font-white) !important;
      }
    }
    &::-webkit-scrollbar:vertical {
      display: none;
    }
  }
}
