@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.comments::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.comments::-webkit-scrollbar:vertical {
  width: 7px;
  background: var(--bg-j);
  height: 7px;
  border-radius: 8px;
  display: initial !important;
}

.mainComments {
  height: calc(100vh - 460px);
  display: flex;
  flex-direction: column;
  // position: relative;
  justify-content: space-between;
  // overflow-y: scroll;
  // max-height: calc(100vh - 520px);

  .comments {
    overflow-y: scroll;
    height: calc(100vh - 360px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 260px;
  }

  .inputField {
    position: absolute;
    padding: 10px;

    padding-left: 0px !important;
    padding-right: 30px !important;
    bottom: 12px;
    width: 100%;
    background-color: var(--bg-c);

    @media (max-width: $sm) {
      bottom: 0px;
      padding-bottom: 0px;
    }

    // NOTE: commmented for test case
    // .commentInputClass {
    //   min-width: 100% !important;

    // }
  }
}

.attachment {
  padding-right: 30px !important;
  width: 100%;

  button {
    position: absolute;
  }
}

.attachIcon {
  svg {
    height: 24px;
    width: 24px;
  }

  margin-bottom: 5px;
}
